

.title, .navbar-title {
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 16px;
  margin-right: 4px;
}

.navbar-title {
  background: linear-gradient(240.01deg, #4B555B 15.29%, rgba(67, 78, 84, 0) 138.75%);
}


